<!DOCTYPE html>
<!-- saved from url=(0034)https://sprig.hackclub.com/gallery -->
<html lang="en"
	style="--accent: #458b9d; --accent-dark: #29505a; --accent-light: #80c3a0; --fg-muted-on-accent: #8fcabb;">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="https://sprig.hackclub.com/favicon.png">

	<title>Gallery | UTC OLP</title>
	<link rel="canonical" href="https://sprig.hackclub.com/gallery">
	<meta property="og:title" content="Gallery">
	<meta property="og:site_name" content="Sprig">
	<meta name="description"
		content="The best way to learn is by making things that you care about and sharing them with other people. Check out games created by Hack Clubbers.">
	<meta property="og:description"
		content="The best way to learn is by making things that you care about and sharing them with other people. Check out games created by Hack Clubbers.">
	<meta name="keywords" content="game, sprig, hack club">
	<meta name="author" content="@hackclub">
	<meta name="twitter:creator" content="@hackclub">
	<meta name="theme-color" content="#0a0a16">
	<meta property="og:url" content="https://sprig.hackclub.com/gallery">
	<meta property="og:type" content="website">
	<meta property="og:image" content="https://sprig.hackclub.com/stories-tiny/sprig-front.jpeg">
	<meta property="twitter:image" content="https://sprig.hackclub.com/stories-tiny/sprig-front.jpeg">
	<meta name="twitter:card" content="summary_large_image">
	<link rel="stylesheet" href="./css/gallery.css">
	<link rel="stylesheet" href="./css/global.css">
</head>

<body style="background: rgb(255, 255, 255); color: black;">
	<div style="
    padding-top: 0px;
    padding-bottom: 30px;	
		    position: relative;     float: right;
    width: 100%;         padding: 30px; padding-right:0px; display: inline-block;
"> <span itemscope itemtype="http://schema.org/Organization"> <a href="https://www.utcsheffield.org.uk/olp"
				itemprop="url" id="logo">
				<picture>
					<source type="image/svg+xml"
						srcset="https://www.utcsheffield.org.uk/olp/assets/sites/3/2021/07/UTC-Sheffield-Olympic-Legacy-Park-Horizontal.svg"
						data-normal="https://www.utcsheffield.org.uk/olp/assets/sites/3/2021/07/UTC-Sheffield-Olympic-Legacy-Park-Horizontal.svg"
						data-contrast="https://www.utcsheffield.org.uk/olp/assets/sites/3/2021/07/UTC-Sheffield-Olympic-Legacy-Park-Horizontal-HC.svg">
					<img itemprop="logo"
						style="height: 4rem; padding-left: 18%; padding-right:0px; margin-top:0px; padding-bottom:15px"
						src="https://www.utcsheffield.org.uk/olp/assets/sites/3/2021/07/UTC-Sheffield-Olympic-Legacy-Park-Horizontal-600x83.png"
						data-normal="https://www.utcsheffield.org.uk/olp/assets/sites/3/2021/07/UTC-Sheffield-Olympic-Legacy-Park-Horizontal-600x83.png"
						data-contrast="https://www.utcsheffield.org.uk/olp/assets/sites/3/2021/07/UTC-Sheffield-Olympic-Legacy-Park-Horizontal-HC-600x83.png"
						alt="UTC Sheffield Olympic Legacy Park Logo">
				</picture>
			</a> </span>
<div style="				
  margin: auto;
  width: 65%;
height: 60px;
  padding: 0px;
margin-top:10px;
margin-bottom:00px;
background-color: #eb7d26;
"></div>
<div style="margin: auto; width: 65%; padding: 10px;">
	<div id="games">
		{% for filename, game_data in games.items() %}
		<a href="./games/{{ game_data.game_file_basename }}/" class="game">
			{% if game_data.has_img %}
			<img src="./img/{{ game_data.game_file_basename }}.png" alt="thumbnail">
			{% endif %}
			<h3>{{ game_data.title or game_data.game_file_basename }}</h3>
			<p class="author">by {{ game_data.author or 'Unknown' }}</p>
			{% if game_data.get('tags') and game_data['tags'] %}
			<p class="tags">{% for tag in game_data['tags'] %}<span class="game-tag">#{{ tag }} </span>{% endfor %}</p>
			{% endif %}
		</a>
		{% endfor %}
	</div>
</div>
</body>

</html>