<aside id="sprig_info">
    <a href="https://sprig.hackclub.com/" target="_blank">
        <img src="https://user-images.githubusercontent.com/27078897/186769641-5b1181b4-9969-4276-9fa0-9f15140e4a9b.jpg" alt="Sprig Console" width="120" height="120">
    </a>
    <br>
    <p>
        Sprig is a game engine that uses JavaScript to create 2D games. 
        If you're under 18 you can submit a game to get a Sprig console to play it on!
    </p>
</aside>