:root {
  --accent: #000000ff;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

canvas {
  display: block;
  background: #000000;
  height: 100vh;
  aspect-ratio: 800 / 600;
  image-rendering: pixelated;
  outline: none;
  width: auto;
  box-sizing: inherit;
}


aside {
  display: block;
  align-items: center;
  width: 21%;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 20%;
  text-align: center;
}

aside img {
  object-fit: cover;
  display: inline;
  border-radius: 100px;
}

aside>p {
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  width: 60%;
  flex: 1;
  padding-top: 20px;
  text-align: center;
  font-size: 1.2rem;
}